<!DOCTYPE html>
<html>
    <head>
        <title>Smart Home Project</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Remote scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- Local Scripts -->
        <script src="js/homecontroller.js"></script>

    </head>

    <body ng-app="smartHomeApp">
        <div ng-controller="MyCtrl">
            <button ng-click="toggle()">Toggle</button>
            <p ng-show="visible">Hello World!</p>
        </div>
    </body>

</html>